.navbar-light {
  background-color: var(--light-bg-secondary);
}

.navbar-dark {
  background-color: var(--dark-bg-secondary);
}

.navbar-link-light,
.navbar-link-light:hover {
  color: var(--light-text);
}

.navbar-link-dark,
.navbar-link-dark:hover {
  color: var(--dark-text);
}

.navbar-link-dark:focus-visible {
  outline: 2px solid gray;
}