.main-container[data-bs-theme="dark"] {
  background-color: var(--dark-bg);
}

.main-container[data-bs-theme="dark"] > nav {
  background-color: var(--dark-bg-secondary);
}

.form-control[data-bs-theme="dark"],
.form-control[data-bs-theme="dark"]:focus,
.form-control[data-bs-theme="dark"]:disabled {
  color: var(--dark-text);
  background-color: var(--dark-bg-third);
  border-color: var(--dark-bg);
}

.form-control[data-bs-theme="dark"]:focus {
  box-shadow: 0 0 1rem rgba(173, 173, 173, 1);
}

fieldset > button[data-bs-theme="dark"] {
  color: var(--dark-text);
  border-color: var(--dark-bg);
}

.login-form > fieldset > button[data-bs-theme="dark"]:focus,
.login-form > fieldset > button[data-bs-theme="dark"]:hover,
.login-form > fieldset > button[data-bs-theme="dark"]:focus-visible,
.signup-form > fieldset > button[data-bs-theme="dark"]:focus,
.signup-form > fieldset > button[data-bs-theme="dark"]:hover,
.signup-form > fieldset > button[data-bs-theme="dark"]:focus-visible {
  border-color: var(--dark-bg);
  background-color: var(--dark-bg-third);
  box-shadow: 0 0 1rem rgba(173, 173, 173, 1);
}

.login-form > fieldset > button[data-bs-theme="dark"]:active,
.login-form > fieldset > button[data-bs-theme="dark"]:active:focus-visible,
.login-form > fieldset > button[data-bs-theme="dark"]:disabled,
.signup-form > fieldset > button[data-bs-theme="dark"]:active,
.signup-form > fieldset > button[data-bs-theme="dark"]:active:focus-visible,
.signup-form > fieldset > button[data-bs-theme="dark"]:disabled {
  border-color: var(--dark-bg);
  background-color: var(--dark-bg-third);
  box-shadow: none;
}

.footer-link[data-bs-theme="light"],
.footer-link[data-bs-theme="light"]:hover {
  color: var(--gray);
}

.footer-link[data-bs-theme="dark"],
.footer-link[data-bs-theme="dark"]:hover {
  color: var(--dark-text-link);
}

.card[data-bs-theme="dark"] {
  background-color: var(--dark-bg-secondary);
}

.form-label[data-bs-theme="dark"] {
  color: var(--dark-text);
}

.form-label[data-bs-theme="dark"]::after {
  display: none;
}

.invalid-tooltip[data-bs-theme="dark"] {
  background-color: var(--red-light);
  background: var(--red-light);
}

.form-floating:has(.invalid-tooltip[data-bs-theme="dark"]) > .form-control.is-invalid {
  border-color: var(--red-light);
  box-shadow:  0 0 1rem rgba(220,53,69,.25);
}

.navbar-link[data-bs-theme="light"],
.navbar-link[data-bs-theme="light"]:hover {
  color: var(--light-text);
}

.navbar-link[data-bs-theme="dark"],
.navbar-link[data-bs-theme="dark"]:hover {
  color: var(--dark-text);
}

.navbar-link[data-bs-theme="dark"]:focus-visible {
  outline: 2px solid gray;
}

.navbar > .container > div > .btn-group > input[value="light"] + label {
  border-color: var(--gray-dark);
  background-color: var(--dark-bg);
}

.navbar > .container > div > .btn-group > input[value="dark"] + label {
  border-color: var(--gray-dark);
  background-color: var(--gray-light);
}

.navbar > .container > div > .btn-group > label[data-bs-theme="dark"]:focus {
  box-shadow: 0 0 1rem rgba(173, 173, 173, 1);
}

.navbar > .container > div > .btn-group > input[value="dark"] + label > svg {
  fill: var(--dark-bg);
}

.navbar > .container > div > .btn-group-vertical > .btn-group[data-bs-theme="light"] > button {
  border-color: var(--gray-dark);
  background-color: var(--gray-light);
  color: black;
}

.navbar > .container > div > .btn-group-vertical > .btn-group[data-bs-theme="dark"] > button {
  border-color: var(--dark-bg-third);
  background-color: var(--dark-bg);
}

.navbar > .container > div > .btn-group-vertical > .btn-group[data-bs-theme="dark"] > button:focus {
  box-shadow: 0 0 1rem rgba(173, 173, 173, 1);
}

.navbar > .container > div > .btn-group-vertical > .btn-group[data-bs-theme="dark"] > .dropdown-menu.show {
  border-color: var(--dark-bg-third);
  background-color: var(--dark-bg-secondary);
  
}

.navbar > .container > div > .btn-group-vertical > .btn-group[data-bs-theme="dark"] > .dropdown-menu > a:hover {
  border-color: var(--dark-bg-secondary);
  background-color: var(--dark-bg-third);
}

.navbar > .container > div > .btn-group-vertical > .btn-group[data-bs-theme="dark"] > .dropdown-menu > a:active {
  border-color: var(--dark-bg-secondary);
  background-color: var(--dark-bg);
}

.navbar > .container > div > button[data-bs-theme="dark"] {
  border-color: var(--dark-bg-secondary);
  background-color: var(--dark-bg);
}

.navbar > .container > div > button[data-bs-theme="dark"]:focus {
  box-shadow: 0 0 1rem rgba(173, 173, 173, 1);
}

.chat-window[data-bs-theme="light"] {
  background-color: rgba(var(--bs-white-rgb), 1);
}

.chat-window[data-bs-theme="dark"] {
  background-color: var(--dark-bg);
}

.channels-pane[data-bs-theme="light"],
.messages-pane[data-bs-theme="light"] {
  background-color: rgba(var(--bs-white-rgb), 1);
}

.channels-pane[data-bs-theme="dark"],
.messages-pane[data-bs-theme="dark"] {
  background-color: var(--dark-bg-secondary);
}

.channels-pane[data-bs-theme="dark"] {
  border-right: var(--bs-border-width) var(--bs-border-style) var(--gray-dark) !important;
}

.chat-messages[data-bs-theme="dark"] {
  color: white;
}

.chat-messages-header[data-bs-theme="light"] {
  box-shadow: var(--bs-box-shadow-sm);
}

.chat-messages-header[data-bs-theme="dark"] {
  color: white;
  box-shadow: 1px 1px 4px 1px rgba(192, 192, 192, 0.2);
}

.chat-channels-header[data-bs-theme="dark"] {
  color: white;
}

.chat-channels-header[data-bs-theme="light"] > button {
  border-color: white;
  background-color: white;
}

.chat-channels-header[data-bs-theme="dark"] > button {
  fill: white;
  border-color: var(--dark-bg-secondary);
  background-color: var(--dark-bg-secondary);
}

.channels-pane > .nav > .nav-item > button[data-bs-theme="light"],
.channels-pane > .nav > .nav-item > .dropdown > button[data-bs-theme="light"] {
  color: var(--light-text);
  border-color: white;
  background-color: white;
}

.channels-pane > .nav > .nav-item > button[data-bs-theme="dark"],
.channels-pane > .nav > .nav-item > .dropdown > button[data-bs-theme="dark"] {
  fill: white;
  border-color: var(--dark-bg-secondary);
  background-color: var(--dark-bg-secondary);
}

.channels-pane > .nav > .nav-item > button[data-bs-theme="dark"]:focus-visible,
.channels-pane > .nav > .nav-item > .dropdown > button[data-bs-theme="dark"]:focus-visible {
  outline: 0;
  box-shadow: 1px 1px 4px 5px rgba(192, 192, 192, 0.2);
}

.channels-pane > .nav > .nav-item > button[data-bs-theme="light"][data-bs-theme-variant="main"],
.channels-pane > .nav > .nav-item > .dropdown > button[data-bs-theme="light"][data-bs-theme-variant="main"] {
  border-color: var(--light-bg-third);
  background-color: var(--light-bg-third);
}

.channels-pane > .nav > .nav-item > button[data-bs-theme="dark"][data-bs-theme-variant="main"],
.channels-pane > .nav > .nav-item > .dropdown > button[data-bs-theme="dark"][data-bs-theme-variant="main"] {
  border-color: var(--dark-bg);
  background-color: var(--dark-bg);
}

.channels-pane > .nav > .nav-item > button[data-bs-theme="light"]:hover,
.channels-pane > .nav > .nav-item > .dropdown > button[data-bs-theme="light"]:hover {
  border-color: var(--light-bg);
  background-color: var(--light-bg);
}

.channels-pane > .nav > .nav-item > button[data-bs-theme="dark"]:hover,
.channels-pane > .nav > .nav-item > .dropdown > button[data-bs-theme="dark"]:hover {
  border-color: var(--dark-bg-third);
  background-color: var(--dark-bg-third);
}

.channels-pane > .nav > .nav-item > .dropdown > button.dropdown-toggle[data-bs-theme="dark"]:hover {
  border-color: var(--dark-bg-third);
  background-color: var(--dark-bg-third);
}

.channels-pane > .nav > .nav-item > .dropdown > div[data-bs-theme="dark"] {
  border-color: var(--dark-bg-third);
  background-color: var(--dark-bg-third);
}

.channels-pane > .nav > .nav-item > .dropdown > div[data-bs-theme="dark"] > a[data-bs-theme="dark"]:hover {
  border-color: var(--dark-bg);
  background-color: var(--dark-bg);
}

.channels-pane > .nav > .nav-item > .dropdown > div[data-bs-theme="dark"] > a[data-bs-theme="dark"]:focus-visible {
  border-color: var(--dark-bg);
  background-color: var(--dark-bg);
  outline: 0;
  box-shadow: 1px 1px 4px 5px rgba(192, 192, 192, 0.2);
}

.chat-messages-input > input[data-bs-theme="dark"]:focus-visible {
  box-shadow: 1px 1px 4px 5px rgba(192, 192, 192, 0.2);
}

.chat-messages-input > button[data-bs-theme="light"] {
  background-color: rgba(192, 192, 192, 0.0);
}

.chat-messages-input > button[data-bs-theme="dark"] {
  background-color: var(--dark-bg-third);
}

.chat-messages-input > button[data-bs-theme="light"]:hover {
  border-color: var(--dark-bg);
  background-color: rgba(192, 192, 192, 1.0);
}

.chat-messages-input > button[data-bs-theme="dark"]:hover {
  background-color: var(--dark-bg);
}

.chat-messages-input > button[data-bs-theme="dark"]:focus-visible {
  outline: 0;
  box-shadow: 1px 1px 4px 5px rgba(192, 192, 192, 0.2);
  background-color: var(--dark-bg-third);
}

.modal-header[data-bs-theme="dark"],
.modal-body[data-bs-theme="dark"],
.modal-footer[data-bs-theme="dark"] {
  background-color: var(--dark-bg-third);
  color: white;
}

.modal-footer[data-bs-theme="dark"] > fieldset > button[data-bs-theme="dark"][data-bs-theme-variant="primary"] {
  background-color: var(--dark-bg-third);
}

.modal-footer[data-bs-theme="dark"] > fieldset > button[data-bs-theme="dark"][data-bs-theme-variant="secondary"] {
  background-color: var(--dark-bg-secondary);
}

.modal-footer[data-bs-theme="light"] > fieldset > button[data-bs-theme="light"][data-bs-theme-variant="secondary"] {
  border-color: var(--light-bg-third);
  background-color: var(--light-bg-third);
}

.modal-footer[data-bs-theme="dark"] > fieldset > button[data-bs-theme="dark"][data-bs-theme-variant="danger"] {
  background-color: var(--red-light);
}

.modal-footer[data-bs-theme="light"] > fieldset > button[data-bs-theme="light"][data-bs-theme-variant="danger"] {
  border-color: var(--red);
  background-color: var(--red);
}

.modal-footer[data-bs-theme="dark"] > fieldset > button[data-bs-theme="dark"][data-bs-theme-variant="primary"]:hover,
.modal-footer[data-bs-theme="dark"] > fieldset > button[data-bs-theme="dark"][data-bs-theme-variant="secondary"]:hover,
.modal-footer[data-bs-theme="dark"] > fieldset > button[data-bs-theme="dark"][data-bs-theme-variant="danger"]:hover,
.modal-footer[data-bs-theme="dark"] > fieldset > button[data-bs-theme="dark"][data-bs-theme-variant="primary"]:focus-visible,
.modal-footer[data-bs-theme="dark"] > fieldset > button[data-bs-theme="dark"][data-bs-theme-variant="secondary"]:focus-visible,
.modal-footer[data-bs-theme="dark"] > fieldset > button[data-bs-theme="dark"][data-bs-theme-variant="danger"]:focus-visible,
.modal-footer[data-bs-theme="dark"] > fieldset > button[data-bs-theme="dark"][data-bs-theme-variant="primary"]:disabled,
.modal-footer[data-bs-theme="dark"] > fieldset > button[data-bs-theme="dark"][data-bs-theme-variant="secondary"]:disabled,
.modal-footer[data-bs-theme="dark"] > fieldset > button[data-bs-theme="dark"][data-bs-theme-variant="danger"]:disabled {
  border-color: var(--light-bg-secondary);
  box-shadow: 0px 0px 4px 5px rgba(192, 192, 192, 0.2);
}

.modal-footer[data-bs-theme="light"] > fieldset > button[data-bs-theme="light"][data-bs-theme-variant="primary"]:hover,
.modal-footer[data-bs-theme="light"] > fieldset > button[data-bs-theme="light"][data-bs-theme-variant="secondary"]:hover,
.modal-footer[data-bs-theme="light"] > fieldset > button[data-bs-theme="light"][data-bs-theme-variant="danger"]:hover,
.modal-footer[data-bs-theme="light"] > fieldset > button[data-bs-theme="light"][data-bs-theme-variant="primary"]:focus-visible,
.modal-footer[data-bs-theme="light"] > fieldset > button[data-bs-theme="light"][data-bs-theme-variant="secondary"]:focus-visible,
.modal-footer[data-bs-theme="light"] > fieldset > button[data-bs-theme="light"][data-bs-theme-variant="danger"]:focus-visible,
.modal-footer[data-bs-theme="light"] > fieldset > button[data-bs-theme="light"][data-bs-theme-variant="primary"]:disabled,
.modal-footer[data-bs-theme="light"] > fieldset > button[data-bs-theme="light"][data-bs-theme-variant="secondary"]:disabled,
.modal-footer[data-bs-theme="light"] > fieldset > button[data-bs-theme="light"][data-bs-theme-variant="danger"]:disabled {
  border-color: var(--gray);
  box-shadow: 0px 0px 4px 5px rgba(0, 68, 255, 0.2);
}
