.light {
  color: black;
  background-color: #f8f9fa;
}

.dark {
  color: white;
  background-color: #50577A;
}

.navbar-light {
  background-color: white;
}

.navbar-dark {
  background-color: #474E68;
}

.navbar-link-light,
.navbar-link-light:hover {
  color: black;
  text-decoration: none;
}

.navbar-link-dark,
.navbar-link-dark:hover {
  color: white;
  text-decoration: none;
}
